Config
# General
.DS_Store
Thumbs.db
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
data

sonarqube.sh
sonar-project.properties

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# Node.js / JavaScript / TypeScript
node_modules
dist
dist-ssr
*.local
coverage
.nyc_output
.turbo
.cache
.output
.temp
.tmp
.parcel-cache
.svelte-kit
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Editor directories and files
.idea/
.vscode/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build artifacts
out/
build/
target/

# Database
*.sqlite
*.db

# Docker
.docker/
docker-compose.override.yml

runtime-config.json

### CDK-specific ignores ###
*.swp
cdk.context.json
package-lock.json
yarn.lock
.cdk.staging
cdk.out

saved_images